<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/plugins/elementui/index.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
<div id="app">
    <!--网页首部-->
    <div id="app1">
    <h1>新闻主界面</h1>
    </div>
    <!--新闻分类-->
    <div id="app2">
        <h3>新闻分类</h3>
        <div v-for="top in topic">
            <a href="" @click="setSort(top.tid)">{{top.name}}</a>
        </div>
    </div>
    <!--新闻中心-->
    <div id="app3">
        <h3>新闻中心</h3>
        <table border="true">
            <thead>
            <tr>
                <th width="500px">标题</th>
                <th width="100px">新闻类别</th>
                <th width="100px">发布人</th>
                <th width="200px">发布时间</th>
                <th width="100px">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="news in newsInfo.page">
                <td>
                    <button @click="lookNews(news)">{{news.title}}</button>
                </td>
                <td>{{changeTopic(news.tid).name}}</td>
                <td>{{news.author}}</td>
                <td>{{news.createDate}}</td>
                <td>
                    <button @click="editDialog(news)">修改</button>
                    /
                    <button @click="deleteNews(news.nid)">删除</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            共{{newsInfo.sum}}条新闻&nbsp;&nbsp;&nbsp;
            共{{newsInfo.pages}}页
            第{{newsInfo.cur}}页
            <button @click="last()">上一页</button>
            <button @click="next()">下一页</button>
        </div>
    </div>
    <!--遮罩层-->
    <div v-if="newsInfo.dialog.edit.editVisible||newsInfo.dialog.look.lookVisible" class="mask1">
    </div>
    <!--编辑窗口-->
    <div v-if="newsInfo.dialog.edit.editVisible">
        <dialog title="编辑信息" open>
            <form>
                <label>
                    标题:<input type="text" v-model="newsInfo.news.title">
                    新闻类别:
                    <select v-model="newsInfo.news.tid">
                        <option v-for="top in topic" :value="top.tid">{{top.name}}</option>
                    </select>
                    新闻内容:<input type="text" v-model="newsInfo.news.content">

                </label>
                <input type="button" @click="newsInfo.dialog.edit.editVisible=false" value="取消">
                <input type="button" @click="editNews" value="确定">
            </form>
        </dialog>
    </div>
    <!--新闻框-->
    <div v-if="newsInfo.dialog.look.lookVisible">
        <dialog open>
            <button @click="newsInfo.dialog.look.lookVisible=false">x</button>
            <h2>{{newsInfo.news.title}}</h2>
            <p>{{newsInfo.news.content}}</p>
        </dialog>
    </div>
</div>
</body>
<script type="application/javascript" src="/js/vue.js"></script>
<script type="text/javascript" src="/js/axios-0.18.0.js"></script>
<script type="application/javascript" src="/js/jquery.min.js"></script>
<script type="application/javascript" src="/js/index.js"></script>
<script>
    let vm = new Vue({
        el: "#app",
        data: {
            topic: [],
            newsInfo: {
                sort: 0,//新闻类别
                size: 2,//一页大小
                cur: 1,//第几页
                sum: 0,//新闻总条数
                pages: 0,//页数
                page: [],//当前页新闻
                news: null,//当前新闻
                dialog: {
                    edit: {
                        editVisible: false,
                    },
                    look: {
                        lookVisible: false,
                    }
                }
            }
        },
        //钩子函数
        created() {
            this.getTopic();
            this.getPage();
        },
        methods: {
            getTopic() {
                axios.get("/topic").then(res => {
                    this.topic = res.data;
                });
            },
            getPage() {
                axios.get("/news",
                    {params: {topic: this.newsInfo.sort, size: this.newsInfo.size, cur: this.newsInfo.cur}}
                ).then(res => {
                    this.newsInfo.page = res.data.records;
                    this.newsInfo.sum = res.data.total;
                    this.newsInfo.pages = res.data.pages;
                });
            },
            setSort(num) {
                this.newsInfo.sort = num;
                this.newsInfo.cur = 1;
                this.getPage();
            },
            next() {
                if (this.newsInfo.cur < this.newsInfo.pages) {
                    this.newsInfo.cur++;
                    this.getPage();
                } else {
                    this.$message.warning("当前已是最后一页");
                }
            },
            last() {
                if (this.newsInfo.cur > 1) {
                    this.newsInfo.cur--;
                    this.getPage();
                } else {
                    this.$message.warning("当前已是第一页");
                }
            },
            changeTopic(num) {
                return this.topic[num - 1];
            },
            editDialog(id) {
                this.newsInfo.news = id;
                this.newsInfo.dialog.edit.editVisible = true;
            },
            editNews() {
                console.log(this.newsInfo.news);
                axios.put("/news", this.newsInfo.news).then(res => {
                    console.log(res);
                    if (res.data) {
                        this.$message.success("修改成功");
                        this.newsInfo.dialog.edit.editVisible = false;
                    } else {
                        this.$message.error("修改失败");
                    }
                }).finally(() => {
                    this.getPage();
                })
            },
            deleteNews(news) {
                this.$confirm("此操作永久删除当前数据，是否继续？", "提示", {
                    type: 'info'
                }).then(() => {
                    //2.做删除业务
                    axios.delete("/news/" + news).then((res) => {
                        if (res.data) {
                            this.$message.success("删除成功");
                        } else {
                            this.$message.error("删除失败");
                        }
                    }).finally(() => {
                        this.getPage();
                    });
                }).catch(() => {
                    //3.取消删除
                    this.$message.info("取消删除操作");
                });
            },
            lookNews(news) {
                this.newsInfo.news = news;
                this.newsInfo.dialog.look.lookVisible = true;
            }
        },
    })
</script>
</html>